- unless @editable
  %style
    ==#main { background-color: #aaa }
    ==.tab.selected { background-color: #aaa; border-bottom: 1px solid #aaa; }
#wrapper
  #switch
    - if @editable
      #edit.tab= remote_link "edit account", url(:edit_biker, @biker), "#ride"
      
    - months.each_with_index do |month, i|
      %div{:class => @period == month ? 'tab selected' : 'tab', :style => "margin-right: #{(i + 1) * 40 + 15}px; width: 20px;"}
        = link_to month_name(month, 'short').downcase, "/bikers/#{@biker.id}/#{month_name(month, 'short').downcase}"
    #total{:class => @period == 'total' ? 'tab selected' : 'tab' }
      = link_to "total", "/bikers/#{@biker.id}/total"
  .logged{:style => "text-align: center"}
    #biker_name= @biker.first_name
    .miles= @biker.miles(@period)
    .miles_logged miles logged
    -#.miles= @biker.place.to_s + "st"
    -#.miles_logged place

  .logged
    .miles= cardinal(@biker.place(@period))
    .miles_logged place

  #log
    %h2 log
    #month_log{:class => @period == 'total' ? 'hidden' : ''}
      %table
        %tr
          %th date
          %th miles
        - sort_date(@biker.rides).each do |ride|
          - next unless month_of(ride) == @period
          %tr
            %td= pretty_date ride.date
            %td{:style => "text-align: right;"}= ride.distance
            - if true || @period == this_month
              %td{:style => "background-color: #DCDFFF; text-align: center; font-weight: bold"}= @editable ? remote_link( "edit", url(:edit_biker_ride, ride), "#ride" ) : " - - - "
            - if true || @period == this_month
              %td{:style => "background-color: #DCDFFF; text-align: center; font-weight: bold"}= @editable ? link_to( "x", url(:delete_biker_ride, ride) ) : " - - - "
      
    #total_log{:class => @period == 'total' ? '' : 'hidden'}
      %table
        %tr
          %th month
          %th miles
          %th
        - months.each do |month|
          %tr
            %td= month_name(month)
            %td{:style => "text-align: right;"}= @biker.miles(month)
            %td{:style => "background-color: #DCDFFF; text-align: center; font-weight: bold"}= link_to "view log", "/bikers/#{@biker.id}/#{month_name(month, 'short').downcase}"
    - if @editable
      #add_ride=remote_link "add ride", url(:new_biker_ride, :biker_id => @biker.id), "#ride" # if @period == this_month

  #overview
    %h2 overview
    %table
      %tr
        %th place
        %th biker
        %th miles
  
      - sort_miles(@bikers, @period).each_with_index do |biker, i|
        %tr
          %td{:style => "background-color: #DCDFFF; text-align: center; font-weight: bold"}= biker.place(@period)
          %td= link_to biker.first_name + " " + biker.last_name, url(:biker, biker)
          %td{:style => 'text-align: right'}= biker.miles(@period)
  #ride

  %script
    var height = $("#log").height() > $("#overview").height() ? $("#log").height() : $("#overview").height();
    $("#log").height(height); $("#overview").height(height);
    var height = $("#logged").height() > $("#chart").height() ? $("#logged").height() : $("#chart").height();
    $("#logged").height(height); $("#chart").height(height);
    