<h1>edit ride</h1>

<% form_for :ride, :id => 'edit_ride_form', :action => url(:biker_ride, @ride) do %>
	
	<p>
		<%= text_control :date, :label => 'date', :value => 'today', :class => 'required' %> <span class="fail invalid"></span>
	</p>
	
	<p>
		<%= text_control :distance, :label => 'distance', :class => 'positive_number' %> <span class="fail invalid"></span>
	</p>
	
	<p>
		<%= text_area_control :notes, :label => 'notes' %>
	</p>
	
	<p>
		<%= submit_button 'do it' %>
 		<a href="javascript:" onclick="$('#ride').slideToggle('slow');">cancel</a>
	</p>
<% end %>

<script type="text/javascript" charset="utf-8">
	$("#ride_date").blur(function( e ) { $.post("<%= url(:action => :show_date_guess) %>", {date: e.target.value}, change_date, 'json' ); });
  $("#ride_date").blur();
  $("#ride_distance").select();
	Val.init("edit_ride_form");
	
	function change_date( response ) {
    console.log( response );
    $("#ride_date")[0].value = response.pretty;
    if ( response.date > '<%= strtodate( "today" ) %>') {
      Val.fail( $("#ride_date"), "Future fail!" );
    }
    else {
      Val.pass( $("#ride_date") );
    }
	}
</script>